[defaults]
host_key_checking = false
display_skipped_hosts = false
show_per_host_start = True
deprecation_warning = false

; Shared GOAD roles (elastic_security + edr/elastic_agent)
roles_path = ../../../ansible/roles:./roles
